@tailwind base;
@tailwind components;
@tailwind utilities;


  /* Works on Chrome, Edge, and Safari */
  *::-webkit-scrollbar {
    width: 12px;
  }
  
  *::-webkit-scrollbar-track {
    background: rgb(92, 92, 92);
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: black;
    border-radius: 20px;
    border: 3px solid rgb(92, 92, 92);
  }


  /* *{
    background-color: rgb(197, 197, 197);
  } */